<div class="d-flex align-items-start vh-100 mt-5">
  <div style="width: 100%; ">
    <h1 class="mb-4">New tier list</h1>

    <%= render "form", tier_list: @tier_list %>

    <div class="mt-4">
      <%= link_to "Back to tier lists", tier_lists_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>
